.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Drug-table tr {
  transition: background 0.2s ease-in;
}

.Drug-table tr:nth-child(odd) {
  background: silver;
}

.Drug-table tr:hover {
  background: silver;
  cursor: pointer;
}