.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.table-bordered td, .table-bordered th, .table-bordered td {
  border: 1px solid #dee2e6;
  padding: 1px;
  margin: 0;
  line-height: normal;
}
